# [REQUIRED] 
# Cryptographic key used to sign JWTs and session tokens. 
# MUST be at least 32 characters long.
QULF_SECRET_KEY = "insecure_secret_key_that_is_32_characters_or_longer"

# [REQUIRED for OAuth & Emails]
# The base URL of your backend. Used for generating callback URLs and Magic Links.
QULF_BASE_URL="http://localhost:8000"


# SESSION SETTINGS
# How many days until a user is logged out?
QULF_SESSIONS__EXPIRES_IN_DAYS=7

# Statefull or Stateless: "database" or "jwt"
QULF_SESSIONS__STRATEGY="database"


# COOKIE SETTINGS
# The name of the cookie saved in the user's browser
QULF_COOKIES__NAME="qulf_session"
# HTTPOnly prevents JavaScript from reading the cookie (Highly recommended: true)
QULF_COOKIES__HTTP_ONLY=true
# Secure enforces HTTPS. Set to false for localhost development.
QULF_COOKIES__SECURE=false
# CSRF protection: "lax", "strict", or "none"
QULF_COOKIES__SAME_SITE="lax"


# For testing features that require email sending.
BREVO_API_KEY = ""